<% unless @registrations.empty? %>
	<h5>Registrations <%= "(#{@registrations.size})" %></h5>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Rating</th>
			<th></th>
		</tr>

	<% @registrations.each do |r| %>
		<tr>
			<td><%= link_to r.student.name, student_path(r.student) %></td>
			<td><%= r.student.rating %></td>
			<td>
				<% if can? :update, Registration %>
					<%= link_to(edit_registration_path(:camp_id => @camp.id), :method => :get, class: 'button tiny radius') do %>
					Edit
					<% end %>
				<% end %>
			</td>
		<tr>
	<% end %>
	</table>

<% else %>
	<div class="panel clearfix">
		<h5>No Registrations</h5>
	</div>
<% end %>
<br />
<!-- send to registration form -->
<% if can? :update, Registration %>
	<%= link_to(new_registration_path(:camp_id => @camp.id), :method => :get, class: 'button tiny radius') do %>
	Add New Registration
	<% end %>
<% end %>
