<% if can? :read, Family %>
	<h3>Family Details</h3><br />
	<strong>Name:&nbsp;&nbsp;</strong>
		<%= "#{@family.family_name}, #{@family.parent_first_name}" %><br /><br />

	<strong>Phone:&nbsp;&nbsp;</strong>
		<%= number_to_phone(@family.phone) %><br /><br />
<% end %>

<% if can? :update, Family %>
	<strong>Email:&nbsp;&nbsp;</strong>
		<%= @family.email %><br /><br />

	<strong>Active?&nbsp;&nbsp;</strong>
	  <%= @family.active ? "Yes" : "No" %><br /><br />

	<%= link_to "Edit this family", edit_family_path(@family), class: "button tiny radius" %>&nbsp;&nbsp;
<% end %>
<% if can? :destroy, Family %>
	<%= link_to 'Destroy family', family_path(@family), data: { confirm: 'Are you sure you want to delete this family?' }, method: :delete, class: "button tiny radius alert" %>&nbsp;&nbsp;
<% end %>
<!-- link to payment report -->
<% if current_user && current_user.role == 'admin' %>
  <%= link_to 'Generate Payment Report', family_payment_report_path(@family), class: "button tiny radius" %>
<% end %>