

<div class="row">
	<div id="footer">
		<div class="small-7 columns">
			<h2>Welcome, <%= current_user.instructor.first_name %></h2>
			<!-- photo -->
			<% unless current_user.instructor.picture_url.nil? %>
				<strong>Name:&nbsp;&nbsp;</strong> 
				  <%= image_tag current_user.instructor.picture_url %><br /><br />
			<% end %>

			<strong>Name:&nbsp;&nbsp;</strong> 
			  <%= current_user.instructor.proper_name %><br /><br />

			<!-- only admins/instructors whose page it is can see personal info for instructors -->
			<% if can? :update, Instructor %>
				<strong>Phone:&nbsp;&nbsp;</strong> 
				  <%= number_to_phone(current_user.instructor.phone) %><br /><br />

				<strong>Email:&nbsp;&nbsp;</strong> 
				  <%= mail_to current_user.instructor.email, current_user.instructor.email, encode: "javascript" %><br /><br />

				<% unless current_user.instructor.user.nil? %>
					<strong>Username:&nbsp;&nbsp;</strong>
						<%= current_user.instructor.user.username %><br /><br />

					<strong>Role:&nbsp;&nbsp;</strong>
						<%= current_user.instructor.user.role %><br /><br />
				<% end %>

			<% end %>

			<strong>Biography</strong><br />
			  <%= current_user.instructor.bio.nil? ? "N/A" : current_user.instructor.bio %><br /><br />

			<% if can? :update, Instructor %>
				<%= link_to "Edit this instructor", edit_instructor_path(current_user.instructor), class: "button tiny radius" %>&nbsp;&nbsp;
			<% end %>
		</div>
	  <div class="small-1 columns">
		  &nbsp;
		</div>
	  <div class="small-4 columns">
	    <%= render partial: 'upcoming_camps' %>
	  </div>
	</div>
</div>