<h4>Upcoming Camps</h4>

<table class="table">
  <tr>
    <th width="260">Name</th>
    <th width="120">Start On</th>
    <th width="120">Time</th>
    <th></th>
  </tr>
<% if current_user %>
  <% @upcoming_camps.each do |camp| %>
    <!-- make sure instructors can only see the camps they teach -->
    <% if camp.instructors.include?(current_user.instructor) %>
      <tr>
        <td><%= link_to camp.name, camp_path(camp) %></td>
        <td align="center"><%= camp.start_date.strftime('%m/%d/%y') %></td>
        <td align="center"><%= camp.time_slot == "am" ? "Morning" : "Afternoon" %></td>
      </tr>
    <% end %>
  <% end %>
<% else %>
  <% @upcoming_camps.each do |camp| %>
    <!-- make sure instructors can only see the camps they teach -->
    <tr>
      <td><%= link_to camp.name, camp_path(camp) %></td>
      <td align="center"><%= camp.start_date.strftime('%m/%d/%y') %></td>
      <td align="center"><%= camp.time_slot == "am" ? "Morning" : "Afternoon" %></td>
    </tr>
  <% end %>
<% end %>
</table>
<!-- don't paginate for instructors -->
<% unless current_user %>
  <span class="paginate">
  <%= will_paginate @upcoming_camps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </span>
<% end %>