<h2>Payment Record for <%= Date.today.year %></h2>

<% unless @camps.empty? %>
	<div class="small-8 columns">
		<table class="table">
			<tr>
				<th>Camp</th>
				<th>Start Date</th>
				<th>Payments Received</th>
				<th>Balance Due</th>
			<tr>
		<% @camps.each do |c| %>
			<% if c.start_date.year == Date.today.year %>
				<tr>
					<td><%= c.name %></td>
					<td><%= c.start_date.strftime("%m/%d/%Y") %></td>
					<!-- calculate total payments received value -->
					<td align="center"><%= "$#{c.registrations.paid.size * c.cost}" %></td>
					<% @received += (c.registrations.paid.size * c.cost) %>
					<!-- calculate total balance due value -->
					<td align="center"><%= "$#{c.registrations.deposit_only.size * (c.cost - 50)}" %></td>
					<% @due += (c.registrations.deposit_only.size * (c.cost - 50)) %>
				</tr>
			<% end %>
		<% end %>
		</table>
	</div>
	<!-- aggregate payments -->
	<div class="small-4 columns">
		<div class="report-second-table">
			<table class="table">
				<tr>
					<th></th>
					<th>Total</th>
				</tr>
				<tr>
					<td><strong>Payments Received</strong></td>
					<td><%= "$#{@received}" %></td>
				</tr>
				<tr>
					<td><strong>Balance Due</strong></td>
					<td><%= "$#{@due}" %></td>
				</tr>
			</table>
		</div>
	</div>
<% else %>
	<div class="small-6 columns">
		<div class="panel clearfix">
			There are no camps running this year
		</div>
	</div>
<% end %>
